<div class="top row col-md-12">
  <div class="top-header row col-md-12">
      <nav class="left-top-nav col-md-9">
          <ul>
              <li>home</li>
              <li>faqs</li>
              <li>contact</li>
              <li>
                  <label class="select">
                      <select name="currency">
                          <option value="usd">USD</option>
                          <option value="rub">RUB</option>
                          <option value="eur">EUR</option>
                          <option value="aud">AUD</option>
                      </select>
                  </label>        
              </li>
          </ul>
      </nav>

      <nav class="right-top-nav col-md-3">
          <ul>
              <li class="icons"><i class="fab fa-facebook-f"></i></li>
              <li class="icons"><i class="fab fa-twitter"></i></li>
              <li class="icons"><i class="fab fa-pinterest-p"></i></li>
              <li class="icons"><i class="fab fa-instagram"></i></li>
              <li class="icons"><i class="fas fa-phone"></i></li>
              <li class="icons"><i class="fas fa-envelope"></i></li>
          </ul>
      </nav>
  </div>
</div>

<div class="row border col-md-12"></div>